<section class="pt-118" id="Programs">
  <div id="cart-items" class="class-pa" id="jobs">
    <div class="semi-transparent-un borders-pa">
      <div class="semi-transparent-pa text-h">
        <h1 class="pl-20"><%= t('spree.contact_us') %></h1>
      </div>
      <div class="semi-transparent-un-1">
        <div class="content">
          <%= render 'shared/error_messages', target: @user %>

          <% if Spree::Config[:allow_guest_checkout] %>
            <%= render 'checkout_guest_sessions/form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
