
    <div class="landing" id="Home">
        <div class="overley"></div>
        <div class="text">
            <h2>
                StudyX provide you the Best Universities.
            </h2>
            <div class="content">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <select id="filter1" class="filter-select">
                            <option value="">All</option>
                            <option class="fa" value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </div>

                    <div class="filter-group">
                        <select id="filter2" class="filter-select">
                            <option value="">All</option>
                            <option value="option4">Option 4</option>
                            <option value="option5">Option 5</option>
                            <option value="option6">Option 6</option>
                        </select>
                    </div>

                    <div class="filter-group">
                        <select id="filter3" class="filter-select">
                            <option value="">All</option>
                            <option value="option7">Option 7</option>
                            <option value="option8">Option 8</option>
                            <option value="option9">Option 9</option>
                        </select>
                    </div>
                    <div class="fa-02">
                        <div class="filter-group-1">
                            <select id="filter4" class="filter-select">
                                <option value="">All</option>
                                <option value="option10">Option 10</option>
                                <option value="option11">Option 11</option>
                                <option value="option12">Option 12</option>
                            </select>
                        </div>
                    </div>

                    <form action="#" method="get">
                        <button type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
