
    <div class="landing" id="Home">
        <div class="overley"></div>
        <div class="text">
            <h2>
                <%=I18n.t('spree.hero')%>
            </h2>
            <div dir="ltr">
                <div dir= class="content">
                    <%= render partial: 'products/search2' %>
                </div>
            </div>
        </div>
    </div>
