
    <div class="landing" id="Home">
        <div class="overley"></div>
        <div class="text">
            <h2>
                StudyX provide you the Best Universities.
            </h2>
            <div class="content">
                <%= render partial: 'products/search2' %>
            </div>
        </div>
    </div>
