
    <section class="info-1" id="introducing">
        <div>
            <h2 class="h-info-title reveal">About us</h2>
        </div>
        <div class="mb-40 reveal">
            <p>
                Are you looking for the right university for your higher education? Are you an international student
                seeking admission to the best universities in the world? The Bloging articles contain many helpful
                tips for choosing the right university for your future education.

                This is 1 of 5 pages listing articles. You can go to other pages to find more articles on various topics
                related to higher education at universities.

                Click on an article from the list below to read it.</p>
        </div>
    </section>
