   <div dir="ltr">
    <section class="info-1" id="introducing">
        <div>
            <h2 class="h-info-title reveal"><%=I18n.t('spree.about_us')%></h2>
        </div>
        <div class="mb-40 reveal">
            <p>
                <%=I18n.t('spree.about_us_de')%>
            </p>
        </div>
    </section>
    </div>