

<section class="pt-118" id="Programs">
  <div id="cart-items" class="class-pa" id="jobs">
    <div>
      <div class="semi-transparent-un borders-pa">
        <div class="semi-transparent-pa text-h">
          <h1 class="pl-20"><%= t('spree.order') %></h1>
        </div>
        <div class="semi-transparent-un-1 ">
          <div class="content">
            
  <h1 class="order-page__title">
    <%= accurate_title %>
  </h1>
  
  <% if order_just_completed?(@order) %>
    <p class="order-page__completed">
      <%= t('spree.thank_you_for_your_order') %>
    </p>
  <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>