<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <article class="content">
    <div class="cart-item__image">
      <%= link_to(
        render(ImageComponentOrder.new(
          image: variant.gallery.images.first || variant.product.gallery.images.first,
          size: :small
        )),
        variant.product
      ) %>
    </div> 

    <%= render(
      'orders/item_info',
      line_item: line_item,
      variant: variant,
      classes: ['cart-item__info']
    ) %>

    <div class="cart-item__price-single">
      <%= line_item.single_money.to_html %>
    </div>

  </article>
<% end %>
