<% order = order_form.object %>

  <div class="button-primary">
    <%= order_form.button(
      I18n.t('spree.checkout'),
      class: 'button-primary',
      id: 'checkout-link',
      name: :checkout
    ) %>
  </div>
