
<div class="whatsapp-icon">
    <a class="whatsapp" target="_blank" href="https://wa.me/+905518479488"><ion-icon name="logo-whatsapp"></ion-icon></a>

    <a class="arrow_up" href="#Home"><ion-icon name="arrow-up-outline"></ion-icon></a>
</div>