<footer class="border">

        <div class="container semi-transparent-footer m-auto border-2">

            <div class="sec About flex">
                <div class="imges">
                    <img <%= image_tag('logo-2.jpg')%>
                </div>
                <div class="m-auto m-auto00 ">
                    <p><%=I18n.t('spree.footer_description')%></p>
                </div>
            </div>
            <div class="sec Contact flex">
                <ul class="info m-auto m-auto00">
                    <li class="mb-0 ">
                        <span><ion-icon name="call-outline"></ion-icon></span>
                        <p><a href="tel:00905518479488">+90 551 847 94 88</a>
                        </p>
                    </li>

                    <li>
                        <span><ion-icon name="mail-outline"></ion-icon> </span>
                        <p>
                            <a href="mailto:info@studyx-edu.com">info@studyx-edu.com</a>
                        </p>
                    </li>
                </ul>

                <ul class="sci ml-20">
                    <li class="m-auto"><a target="_blank" href="https://www.facebook.com/studyx.edu.tr?mibextid=LQQJ4d"><ion-icon class="fa" name="logo-facebook"></ion-icon></a></li>
                    <li class="m-auto"><a target="_blank" href="https://wa.me/+905518479488" ><ion-icon class="fa" name="logo-whatsapp"></ion-icon></a></li>
                    <li class="m-auto"><a target="_blank" href="https://instagram.com/studyx.edu.tr?igshid=YmMyMTA2M2Y="><ion-icon class="fa" name="logo-instagram"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="copytext">
            <p>© 2023 StudyX.</p>
        </div>
</footer>
